@media (max-width: 767px) {
    .left_menu {
        display: none;
    }
}

.left-menu {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    background-color: bisque;
    padding: .5rem;
}

.p_top {
    padding-top: 20px;
}